{% block content %}
<div id="sidebar_opisy">
  <!--warstwa nagłówka menu-->
  <div><h4>Twierdza Poznań - opisy fortów<h4><br /></div>
  <div id="opisy">
    <div id="FortyGlowne" class="Fort_opis"><h4>Forty główne</h4><br /> Forty główne miały narys sześcioboczny.
      Ich głównym zadaniem było prowadzenie walki artyleryjskiej z przeciwnikiem oraz
      zapewnienie schronienia własnym siłom. Najważniejszą częścią fortu był ziemny
      wał artyleryjski, na którym mieściły się stanowiska dla ciężkich dział do walki
      dalekiej i dla lekkich dział do osłony międzypól oraz murowane schronienia dla dział
      i artylerzystów. Podziemne kazamaty pod wałem dawały schronienie dla załogi oraz
      dla amunicji i prochu. W tylnej części fortu umieszczono dwukondygnacyjne koszary
      dla załogi oraz główny wjazd z bramą i mostem zwodzonym. Fort był otoczony fosą
      głęboką na 6 m i szeroką na 9 m, chronioną za pomocą lekkich dział i karabinów
      strzelających z kaponier w narożnikach czołowych i barkowych oraz w koszarach.
      Najważniejsze budowle w forcie były połączone podziemnymi korytarzami.<br /><br /></div>
    <div id="Fort I" class="Fort_opis"><strong>Fort I</strong><br>
      Fort I zbudowano w latach 1878–1880. Na wale artyleryjskim, oprócz zwykłych
      stanowisk działowych, zbudowano dwie murowane działobitnie dla armat
      pierścieniowych 15 cm na łożach nadbrzeżnych. W 1881 roku fort uzupełniono
      o krótki odcinek wału piechoty pośrodku czoła. W latach 1887–1890 wzmocniono
      mury budowli podziemnych, a po bokach fortu dostawiono ziemne baterie artyleryjskie
      ze schronami amunicyjnymi. Około 1892 roku zainstalowano dwie stalowe kopuły
      obserwacyjne dla piechoty. Fort był modernizowany aż do wybuchu I wojny światowej.
      W czasie II wojny światowej zadaszono fosy, aby umieścić w nich warsztaty i magazyny
      fabryki samolotów Focke-Wulf.<br /><br /></div>
    <div id="Fort II" class="Fort_opis"><strong>Fort II</strong><br />
      Fort II zbudowano w latach 1878–1882. Plany budowy zmodyfikowano w 1881 roku,
      dodając pośrodku czoła krótki odcinek wału dla piechoty. W latach 1887–1890
      wzmocniono mury budowli podziemnych, a po bokach fortu dostawiono ziemne baterie
      artyleryjskie ze schronami amunicyjnymi. Fort był modernizowany aż do wybuchu I
      wojny światowej. W czasie II wojny światowej zadaszono fosy, aby umieścić w nich
      warsztaty i magazyny fabryki samolotów Focke-Wulf. Przypuszczalnie w tym samym
      czasie w rejon fortu doprowadzono linię kolejową i zbudowano rampę przeładunkową.<br /><br /></div>
    <div id="Fort III" class="Fort_opis"><strong>Fort III</strong><br /> Fort III zbudowano w latach 1877–1881. Na wale
      artyleryjskim, oprócz zwykłych stanowisk działowych, zbudowano murowaną
      działobitnię dla armaty pierścieniowej 15 cm na łożu nadbrzeżnym. W 1881 roku,
      w końcowej fazie budowy, pośrodku czoła zbudowano krótki odcinek wału dla piechoty.
      W latach 1887–1890
      wzmocniono mury i stropy budowli podziemnych, a po bokach zbudowano baterie
      artyleryjskie ze schronami amunicyjnymi. Około 1892 roku zainstalowano dwie
      stalowe, obrotowe kopuły obserwacyjne piechoty typu W.T.90, a w pierwszych latach
      XX wieku – kopułę obserwatora artylerii, typu W.T.Neu. Drobniejsze modernizacje
      prowadzono aż do wybuchu I wojny światowej. W czasie II wojny światowej zadaszono
      fosy, aby umieścić w nich warsztaty i magazyny fabryki samolotów Focke-Wulf. Po
      wojnie rozpoczęto prace rozbiórkowe w koszarach, ale pozostała część budowli
      została nienaruszona.<br /><br /></div>
    <div id="Fort IV" class="Fort_opis"><strong>Fort IV</strong><br />
      Fort IV zbudowano w latach 1879–1884. Na wale
      artyleryjskim planowano wymurować stanowiska dla armat pierścieniowych na łożach
      nadbrzeżnych, jednak ostatecznie z nich zrezygnowano. Jeszcze w czasie budowy
      zmodyfikowano projekt, dodając pośrodku czoła krótki wał dla piechoty.
      W latach 1887–1890 fort został gruntownie zmodernizowany: budowle podziemne
      zostały wzmocnione, kaponiera czołowa została przebudowana na rewersową, pośrodku
      wału zbudowano pancerne stanowisko obserwacyjne dla artylerii typu P.B.St.87. Po
      obu stronach fortu zbudowano ziemne baterie artyleryjskie ze schronami amunicyjnymi.
      Około 1892 roku zainstalowano dwie obrotowe kopuły obserwacyjne dla piechoty typu
      W.T.90. Fort był modernizowany aż do wybuchu I wojny światowej. W czasie II wojny
      przechowywano w nim amunicję.<br /><br /></div>
    <div id="Fort V" class="Fort_opis"><strong>Fort V</strong><br />Fort V zbudowano w latach ok. 1878–1886.
      Nietypowo długi czas budowy należy wiązać z radykalnymi zmianami projektu,
      polegającymi przede wszystkim na dodaniu pełnego wału piechoty wzdłuż całego
      czoła oraz stałych baterii artyleryjskich po obu stronach. Poza tym fort był
      wyposażony standardowo. W latach 1887–1890 poddano go gruntownej modernizacji:
      wzmocniono mury, kaponierę czołową przebudowano na nowoczesną rewersową i połączono
      ją z koszarami przejściem pod fosą. Pośrodku wału zbudowano pancerne stanowisko
      obserwacyjne artylerii typu P.B.St.87. Baterie sprzężone przebudowano według nowych
      standardów. Pomniejsze modernizacje wykonywano aż do wybuchu I wojny światowej.
      W 1939 roku obok schronu amunicyjnego lewej baterii zbudowano niewielki betonowy
      schron obserwacyjno-bojowy. W czasie II wojny zadaszono fosy, które zostały
      zagospodarowane na warsztaty i magazyny zakładów zbrojeniowych DWM.<br /><br /></div>
    <div id="Fort VI" class="Fort_opis"><strong>Fort VI</strong><br />
      Fort VI zbudowano w latach 1879–1883. Wyposażono
      go w długi wał piechoty na całej długości czoła. W 1885 roku po obu stronach
      zbudowano ziemne baterie artyleryjskie ze schronami amunicyjnymi. W latach
      1887–1890 fort poddano gruntownej modernizacji: wzmocniono mury, kaponierę czołową
      przebudowano na nowoczesną rewersową i połączono ją z koszarami przejściem pod fosą.
      Pośrodku wału zbudowano pancerne stanowisko obserwacyjne artylerii typu P.B.St.87.
      Baterie sprzężone przebudowano według nowych standardów. Pomniejsze modernizacje
      wykonywano aż do wybuchu I wojny światowej. W 1939 roku na wale zbudowano dwa
      betonowe schrony obserwacyjno-bojowe.<br /><br /></div>
    <div id="Fort VII" class="Fort_opis"><strong>Fort VII</strong><br />
      Fort VII zbudowano w latach 1876–1880. W 1881 roku
      uzupełniono go o trzy murowane stanowiska dla armat pierścieniowych 15 cm. Nie
      zbudowano typowego dla większości fortów głównych krótkiego wału piechoty. W latach
      1887–1890 wzmocniono mury budowli podziemnych, a po obu stronach fortu dostawiono
      ziemne baterie artyleryjskie ze schronami amunicyjnymi. Obiekt był modernizowany aż
      do wybuchu I wojny światowej, kiedy powstały m.in. dwie wartownie na krytej drodze.
      W sierpniu 1939 roku na wale zbudowano dwa betonowe schrony obserwacyjno-bojowe oraz
      dwie stalowo-betonowe kopuły obserwacyjne pochodzące z zasobów poniemieckich.
      Podczas okupacji niemieckiej w pomieszczeniach fortu urządzono, pierwszy na ziemiach
      polskich, niemiecki nazistowski obóz koncentracyjny, a później obóz zagłady
      prowadzony przez SS. Mieściło się tu także więzienie Gestapo. W 1944 roku zadaszono
      fosy i umieszczono w nim oddział zakładów Telefunken. Po wojnie fort był użytkowany
      przez wojsko.<br /><br /></div>
    <div id="Fort VIII" class="Fort_opis"><strong>Fort VIII</strong><br />Fort VIII zbudowano w latach 1876–1882. Przed
      zakończeniem budowy do projektu wprowadzono zmiany, z których najważniejszą było
      dodanie pośrodku czoła krótkiego wału dla piechoty. W latach 1887–1890 wzmocniono
      mury budowli podziemnych, po obu stronach fortu dostawiono ziemne baterie
      artyleryjskie ze schronami amunicyjnymi. W pierwszych latach XX wieku na środkowym
      schronie wałowym zainstalowano pancerną kopułę obserwatora artylerii typu W.T.Neu.
      Obiekt był modernizowany aż do wybuchu I wojny światowej, kiedy zbudowano m.in.
      dwie wartownie na krytej drodze. W sierpniu 1939 roku na lewym barku zbudowano
      betonowy schron obserwacyjno-bojowy oraz osadzono stalowo-betonową kopułę
      obserwacyjną pochodzącą z zasobów poniemieckich. W czasie okupacji w forcie
      znajdował się obóz jeniecki, w którym przebywali żołnierze angielscy i francuscy.<br /><br /></div>
    <div id="Fort IX" class="Fort_opis"><strong>Fort IX</strong><br />Fort IX zbudowano w latach 1876–1880. W 1881
      roku na forcie wybudowano dwa murowane stanowiska dla armat pierścieniowych
      15 cm. Nie zbudowano typowego dla większości fortów głównych krótkiego wału
      piechoty. W latach 1887–1890 wzmocniono mury budowli podziemnych, po obu stronach
      fortu dostawiono ziemne baterie artyleryjskie ze schronami amunicyjnymi. Obiekt
      był modernizowany aż do wybuchu I wojny światowej, kiedy powstały m.in. dwie
      wartownie na drodze krytej. W sierpniu 1939 roku na wale zbudowano dwa betonowe
      schrony obserwacyjno-bojowe. W 1944 roku zadaszono fosy i rozpoczęto w nich
      produkcję wojenną.<br /><br /></div><br />
    <div id="FortPosrednie" class="Fort_opis"><h4>Forty Pośrednie<h4></div><br /><br />
      <div id="Fort Ia" class="Fort_opis"><strong>Fort Ia</strong><br />Fort Ia zbudowano w latach ok. 1887–1890.
        Z powodu wysokiego poziomu
        wód gruntowych kaponiery nie zostały połączone z fortem korytarzem pod fosą. Dla
        utrzymania suchości zbudowano kanał odwadniający prowadzący do Warty. Fort wyróżnia
        się starannym wystrojem elewacji. Był modernizowany aż do wybuchu I wojny światowej:
        zwężone zostały wejścia, założono
        nowe drzwi, a na drodze krytej i przy wjeździe zbudowano małe schrony-wartownie.<br /><br /></div>
      <div id="Fort IIa" class="Fort_opis"><strong>Fort IIa</strong><br />Fort IIa zbudowano w latach ok. 1887–1890.
        Z powodu wysokiego poziomu wód gruntowych kaponiery nie zostały połączone z fortem korytarzem pod fosą. Dla
        zabezpieczenia sią przed wilgocią zbudowano kanał odwadniający.
        Fort był modernizowany aż do wybuchu I wojny światowej: zwężono wejścia, założono nowe drzwi, a na drodze
        krytej zbudowano dwa małe schrony-wartownie. </div><br /><br />
      <div id="Fort IIIa" class="Fort_opis"><strong>Fort IIIa</strong><br />Fort IIIa zbudowano w latach ok. 1887–1890.
        Nietypowo został zaopatrzony w schron-wartownię nad prawą kaponierą. Kaponiery rewersowe były połączone z koszarami
        przejściem podziemnym pod fosą. Około 1892 roku zamontowano dwie obrotowe kopuły obserwacyjne piechoty typu W.T.90.
        Fort był modernizowany aż do wybuchu I wojny światowej. Zachowany jest w dobrym stanie, można w nim obejrzeć
        unikatowe okiennice pancerne, zamykające od zewnątrz otwory strzelnicze i obserwacyjne kaponier. </div><br /><br />
      <div id="Fort IVa" class="Fort_opis"><strong>Fort IVa</strong><br />Fort IVa zbudowano w latach 1878–1881. W latach
        1887–1890 został gruntownie zmodernizowany. Mury i sklepienia budowli podziemnych zostały wzmocnione, a kaponiery
        broniące fos zostały przebudowane na nowoczesne rewersowe i połączone z dziedzińcem fortu za pomocą korytarza pod
        fosą. Do wybuchu I wojny światowej wprowadzono różne drobne modyfikacje, np. betonowe schrony-wartownie na drodze
        krytej. W 1939 roku na przedstoku zbudowano niewielki betonowy schron obserwacyjno-bojowy. Po II wojnie fort został
        wysadzony i częściowo rozebrany; zachował się duży fragment koszar oraz murowane części kaponier rewersowych wraz
        z podziemnym korytarzem. </div><br /><br />
      <div id="Fort Va" class="Fort_opis"><strong>Fort Va</strong><br />Fort Va zbudowano w latach ok. 1887–1890. Kaponiery rewersowe były połączone z koszarami przejściem podziemnym pod fosą. Fort był modernizowany aż do wybuchu I wojny światowej: na przykład wewnątrz zbudowano charakterystyczny żelazny zbiornik na wodę, a na drodze krytej podwójną wartownię. W 1939 roku na wale fortu zbudowano trzy niewielkie schrony obserwacyjno-bojowe; z tego okresu zachowały się też cenne inskrypcje na
        ścianach. W czasie II wojny światowej zniszczeniu uległa niewielka część elementów murowanych, mimo tego fort można uznać za dość dobrze zachowany. </div><br /><br />
      <div id="Fort VIa" class="Fort_opis"><strong>Fort VIa</strong><br />Fort VIa zbudowano w latach 1879–1882. Od innych fortów pośrednich odróżniał się stanowiskami dla ciężkich dział na wale czołowym. Dla nich zbudowano przy lewym dziedzińcu nietypową niewielką podwalnię z pomieszczeniami do przygotowywania i składowania amunicji. Fort był nieco większy od dwóch pozostałych, miał też prochownię, a linia koszar była załamana. W latach 1887–1890 został gruntownie zmodernizowany: wzmocniono
        podziemne budowle, a kaponiery zostały przebudowane na nowoczesne rewersowe, połączone z fortem podziemnym przejściem. Drobniejsze modernizacje prowadzono aż do wybuchu I wojny światowej, np. na drodze krytej zbudowano schron-wartownię. W 1939 roku na wale zbudowano trzy betonowe schrony obserwacyjno-bojowe. </div><br /><br />
      <div id="Fort VIIa" class="Fort_opis"><strong>Fort VIIa</strong><br />Fort VIIa zbudowano w latach ok. 1887–1890. Podziemne przejście łączyło kaponiery rewersowe z koszarami. Fort był modernizowany aż do wybuchu I wojny światowej: zwężono wejścia, założono nowe drzwi, a na drodze krytej zbudowano dwa małe schrony-wartownie. We wrześniu 1939 roku na wałach zbudowano dwa schrony obserwacyjno-bojowe oraz dwie stalowo-betonowe kopuły obserwacyjne pochodzące z zasobów poniemieckich. Po wojnie
        fort był użytkowany przez wojsko, które pomalowało ceglane ściany w kamuflaż charakterystyczny dla czasu zimnej wojny. </div><br /><br />
      <div id="Fort VIIIa" class="Fort_opis"><strong>Fort VIIIa</strong><br />Fort VIIIa zbudowano w latach ok. 1887–1890. Wysoki poziom wód gruntowych sprawił, że nie wykonano podziemnego przejścia łączącego kaponiery rewersowe z koszarami. Fort był modernizowany aż do wybuchu I wojny światowej: zwężono wejścia, założono nowe drzwi, a na drodze krytej zbudowano dwa małe schrony-wartownie. We wrześniu 1939 roku na wałach zbudowano trzy betonowe schrony obserwacyjno-bojowe oraz osadzono
        stalowo-betonową kopułę obserwacyjną pochodzącą z zasobów poniemieckich. </div><br /><br />
      <div id="Fort IXa" class="Fort_opis"><strong>Fort IXa</strong><br />Fort IXa zbudowano w latach 1877–1880. W latach 1887–1888 wzmocniono mury budowli podziemnych. Około 1892 roku na nasypie osiowym w centralnej części fortu zamontowano dwie obrotowe kopuły obserwacyjne piechoty typu W.T.90. W tym samym czasie rozebrano schrony wałowe oraz ziemne poprzecznice, a sam wał przeformowano, dostosowując go do obsadzenia wyłącznie przez piechotę. Na dziedzińcach zbudowano kilka nowych schronów
        dla załogi, a w 1914 roku także wartownię na drodze krytej. W 1939 roku na lewym barku postawiono betonowy schron obserwacyjno-bojowy. W czasie okupacji zniesiono prawy bark wraz z odcinkiem fosy. </div><br /><br />
      <div id="Fort Winiary (Cytadela)" class="Fort_opis"><strong>Fort Winiary (Cytadela)</strong><br />Fort Winiary (nazywany potocznie Cytadelą) – centralny fort w strukturze poligonalnych umocnień Twierdzy Poznań (niem. Festung Posen) położony na Wzgórzu Winiarskim w Poznaniu. Był największym fortem artyleryjskim w Europie. W 2008 uznany został przez prezydenta RP, w ramach historycznego zespołu miasta Poznania, jako pomnik historii.
      Pierwsze prace przy budowie fortu rozpoczęto 23 czerwca 1828 roku. Projekt fortu sporządził Johann Leopold Ludwig Brese, zatwierdzono go 21 lutego 1829 roku. W maju i czerwcu 1830 przeniesiono na północ dwie wsie Winiary oraz zlikwidowano folwark Bonin. 29 czerwca 1834 2. batalion 18. Pułku Piechoty obsadził nie wykończony jeszcze fort, zaś w październiku i grudniu Kernwerk został obsadzony przez dwa bataliony 6. Pułku Piechoty. Do 1839 roku były już ukończone skarpy, a do 1842 zbudowano
      przeciwskarpy. Tym samym budowa fortu została zakończona. </div><br /><br />
      <div id="PozostałeObiekty" class="Fort_opis"><h4>Pozostałe obiekty<h4></div><br /><br />
      <div id="Schron przy Babimojskiej" class="Fort_opis"><strong>Schron przy Babimojskiej</strong><br />Schron został wybudowany w 1904 roku na międzypolu fortów VIII i VIIIa, dla wzmocnienia południowo-zachodniego, słabiej narażonego na atak, odcinka twierdzy Poznań. Przeznaczony był dla piechoty.
        Wykonany z betonu schron składał się w sześciu pomieszczeń żołnierskich (dwóch większych i czterech mniejszych), pomieszczenia oficerskiego, składziku i ubikacji. Pomieszczenia łączył korytarz przebiegający wzdłuż całego schronu, z którego kilkoma wyjściami można było sprawnie opuścić ukrycie i zająć stanowiska polowe przygotowane do obrony na przedpolu i skrzydłach. W okresie pokojowym obiekt nie był obsadzony wojskiem, gdyż ze względu na niesprzyjające warunki bytowe (wilgoć,
        ograniczone oświetlenie), żołnierze mieszkali w garnizonowych budynkach koszarowych. </div><br /><br />
      <div id="Pozostałości po hali sterowcowej" class="Fort_opis"><strong>Pozostałości po hali sterowcowej</strong><br />Hala poznańska została zbudowana w 1913 roku na zlecenie wojska, które potrzebowało bazy operacyjnej w Poznaniu. Była standardowa (podobną postawiono w Legnicy). Zaprojektował ją inż. Ernst Meier, wykonała firma Arthur Müller GmbH. Miała 170 metrów długości, 36 szerokości i 28 wysokości. Korzystały z niej m.in. sterowce: armijny Z IV (fabryczne oznaczenie LZ 16),
        rozpoznawczo-bombowy Z V (LZ 20), szkolny LZ 17 Sachsen, bombowe Z XI (LZ 20) i LZ 39. Hala została rozebrana krótko po II wojnie. Zachowane ślady to resztki fundamentu wrót. </div><br /><br />
      <div id="Strzelnica" class="Fort_opis"><strong>Strzelnica</strong><br />Teren strzelnicy to niezwykły, nawarstwiony zapis osiemdziesięcioletnich przemian, jakie zachodziły w poznańskiej twierdzy. Tym cenniejszy, że jest to jeden z ostatnich obszarów nieprzekształconych – historia zatrzymała się na nim w 1945 roku i, niczym w wielkiej historycznej zamrażarce, dotrwała do naszych czasów.</div><br /><br />
      <div id="Jaz na Cybinie" class="Fort_opis"><strong>Jaz na Cybinie</strong><br />Jaz został umieszczony w ziemnej grobli o długości 146 m i wysokości ponad 5,5 metra, która przegrodziła dolinę Cybiny (jej koryto przesunięto kilkadziesiąt metrów na północ). Jaz miał dwa ceglane przepusty, posadowiony został na drewnianym rusztowaniu i palach wbitych w grunt. W ścianach wykonano po trzy pionowe wyżłobienia, w które wsuwano drewniane belki spiętrzające wodę. Maksymalna wysokość piętrzenia to
        5 metrów ponad przeciętny stan Cybiny. Przy przepuście północnym zbudowano niewielki kanał upustowy – przepławkę. Jaz był jednocześnie mostem. </div><br /><br />
      <div id="Grupa Schronów na Dębinie" class="Fort_opis"><strong>Grupa Schronów na Dębinie</strong><br />Schrony dębińskie były rdzeniem umocnień dolnej terasy doliny Warty, szerokiej na 900 metrów. W zachodniej części znajdowała się grupa czterech schronów, z których największy pięcioizbowy (U5 IXa) służył przypuszczalnie za schronienie dla 1–2 plutonów piechoty stanowiącej główną obsadę tej części pozycji. Obok niego umieszczono niewielki schron dwuizbowy (U6 IXa), będący prawdopodobnie
        punktem opatrunkowym. Ulokowany nieco z tyłu schron dwuizbowy (U4 IXa) mógł służyć za schronienie dla artylerzystów. Wysunięty w stronę przedpola schron trzyizbowy (U3 IXa) mógł dać schronienie obsadzie wydzielonej części umocnienia, oddalonej od głównej linii. We wschodniej części, bliżej Warty, zbudowano trzy obiekty. W pięcioizbowym schronie (U8 IXa) przebywała piechota głównej obsady, a w położonym z tyłu schronie dwuizbowym (U9 IXa) – artyleria. Schron U7 IXa był prawdopodobnie
        magazynem amunicji. </div><br /><br />
      <div id="Bastion IV Colomb" class="Fort_opis"><strong>Bastion IV Colomb</strong><br />obiekt fortyfikacyjny poligonalnej Twierdzy Poznań zbudowany ok. 1854 roku. Położony w tzw. lewobrzeżnym pierścieniu miasta. Obiekt o narysie rawelinu, posiadał jednoskrzydłową owalną reditę. Usytuowany pierwotnie pomiędzy Bramą Berlińską a kawalierem Strotha. W późniejszych latach w jego sąsiedztwie zostały wybudowane dwie kolejne bramy: Kolejowa (1865) oraz Rycerska (1881). Bastion został wysadzony
        przez saperów w 1903 i rozebrany. Na terenie pofortecznym zostały wybudowane: Collegium Novum UAM, gmach główny Uniwersytetu Ekonomicznego, budynek Dyrekcji
        Kolei i Izba Rzemieślnicza oraz utworzono tereny zielone. Pozostałościami po obiekcie są położony w Parku Marcinkowskiego trzykondygnacyjny blokhauz przeciwskarpy.</div><br /><br />
  </div>
</div>
{% endblock %}
